<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotating navigation</title>
    <script src="https://kit.fontawesome.com/aa68f3657e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <div class="circle-container">
            <div class="circle">
                <button id="close">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </button>
                <button id="open">
                    <i class="fa-solid fa-bars"></i> </button>
            </div>
        </div>
        <div class="content">
            <h1>Amazing article</h1>
            <small>Ali abbas</small>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa ratione distinctio tempora dolor vitae, a
                eos consequuntur voluptatibus fuga quis pariatur voluptas suscipit, aut odio culpa molestias aliquam.
                Ullam officia nulla, aliquid minus quod laboriosam, culpa, dolorum quo animi praesentium modi natus
                quasi est necessitatibus. Iure voluptatum architecto illo possimus harum modi provident culpa. Qui
                voluptatum, asperiores recusandae laboriosam praesentium, libero earum necessitatibus natus ducimus sint
                debitis harum, aspernatur numquam quia corrupti reiciendis! Illum voluptatum laborum possimus libero
                explicabo, quisquam molestias minima, vero animi pariatur nobis excepturi culpa, repudiandae nam
                voluptates porro eveniet. Perferendis mollitia cum qui sequi hic exercitationem.</p>

            <h3>my cat</h3>
            <img src="../assects/photo-1573865526739-10659fec78a5.avif" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non itaque quas repellat! Officia, culpa. Maxime
                molestias unde hic, provident perspiciatis numquam explicabo? Error soluta quas, quo earum rem expedita,
                deleniti sapiente ut saepe iste fugiat ullam iure possimus voluptatum doloribus ipsum enim!
                Reprehenderit perspiciatis debitis autem nemo. Temporibus cum, eaque, doloremque, deleniti ullam
                obcaecati iusto atque veritatis quam maxime architecto dolores eligendi! Nam, fuga sint voluptates
                exercitationem rerum corrupti quis maxime quas, ullam nulla ipsa?</p>
        </div>
    </div>
    <nav>
        <ul>
        <li><i class="fas fa-home"></i>home</li>
        <li><i class="fas fa-user-alt"></i>about us</li>
        <li><i class="fas fa-envelope"></i>contact</li>
        </ul>
    </nav>










    <script src="../js/script.js"></script>
</body>

</html>